*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
}

.gamer-board{
  width: 100%;
  height: 500px;
  overflow: hidden;

  border-bottom: 15px solid rgb(35,160,35);
  margin: 0 auto;
  background: linear-gradient(#87ceeb, #e0f6ff);
  position: relative;

  /*height: 100vh;*/
}

.pipe{
  bottom: 0;
  width: 60px;
  position: absolute;
  animation: pipe-animation 1s infinite linear;
}

.mario{
  width: 150px;
  bottom: 0;
  position: absolute;
}

.clouds{
  width: 650px;
  position: absolute;
  animation: cloudsAnimation 20s infinite linear;
}

/*enviando para o index a animacao*/

.jump{
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from{
    right: -80px;
  }

  to{
    right: 100%;
  }
}

@keyframes jump {
  0%{
    bottom: 0;
  }

  40%{
    bottom: 180px;
  }

  50%{
    bottom: 180px;
  }

  60%{
    bottom: 180px;
  }

  100%{
    bottom: 0;
  }
}

@keyframes cloudsAnimation {
  from{
    right: -550px;
  }

  to{
    right: 100%;
  }
}

.restart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0); /* Transparente */
  cursor: pointer;
}
